
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="progress === 'pendente'">
      <div [formGroup]="form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar publicação</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input
            type="text"
            placeholder="Título da publicação"
            class="form-control"
            formControlName="title"
          />

          <input
            type="file"
            placeholder="Título da publicação"
            class="form-control"
            accept="image/*"
            (change)="prepareImageUpload($event)"
            style="margin-top: 1em"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="button" (click)="post()" class="btn btn-primary">
            Publicar
          </button>
        </div>
      </div>
    </div>
    <div class="modal-content" *ngIf="progress === 'andamento'">
      <div [formGroup]="form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publicalçao em andamento</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Progresso: {{percertProgress}} %
        </div>
      </div>
    </div>
    <div class="modal-content" *ngIf="progress === 'concluido'">
      <div [formGroup]="form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publicação realizada</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Sua publicação foi realizada com sucesso!
        </div>
      </div>
    </div>
  </div>
</div>
